<html>
  <head>
    <title>Growler - better than Twitter</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">  </head>
  <body>
    <h1>Growler</h1>
    <form action='/api/growl' method='POST'>
      Name:
      <input name="name" type="text" /> 
      Hakk:
      <input name="growl" type="text" maxlength="76" />
      <input type="submit" />
    </form>
    <div id="feed">
      <h2> Hakks </h2>
        {% for growl in growls %}
        <div class="growl">
            <b>{{ growl[0] }}</b>
            <p>{{ growl[2] }}</p>
        </div>
        {% endfor %}
    </div>
  </body>
</html>
