<html>
  <head>
    <title>Hakker - better than Twitter</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">  </head>
  <body>
    <h1>Hakker</h1>
    <form action='/api/hakk' method='POST'>
      Name:
      <input name="name" type="text" /> 
      Hakk:
      <input name="hakk" type="text" maxlength="76" /> 
      <input type="submit" />
    </form>
    <div id="feed">
      <h2> Hakks </h2>
        {% for hakk in hakks %}
        <div class="hakk">
            <b>{{ hakk[0] }}</b>
            <p>{{ hakk[2] }}</p>
        </div>
        {% endfor %}
    </div>
  </body>
</html>
