<html>
  <head>
    <title>Growler - better than Twitter</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
    <script>
      $(document).ready(function(){
        $('#send').click(function(event){
          growl = {
            name : $("#name").val(),
            growl : $("#growl").val(),
          }
          ws.send(JSON.stringify(growl));
          return false;
        });
        if ("WebSocket" in window) {
          ws = new WebSocket("ws://" + document.domain + ":5000/ws");
          ws.onmessage = function (msg) {
            data = msg.data;
            data = JSON.parse(data);
            $("#feed").append("<b>"+data.name+"</b><p>"+data.growl+"</p>");
          };
          ws.onclose = function() {
            console.log("Closed");
          }
        } else {
          alert("WebSocket not supported");
        }
      });
    </script>
  </head>
  <body>
    <h1>Growler</h1>
    <form>
      Name:
      <input id='name' name="name" type="text" /> 
      Growl:
      <input id='growl' name="growl" type="text" maxlength="76" />
      <button id='send' value='Send'>Send</button>
    </form>
    <div id="feed">
      <h2> Growls </h2>
        {% for growl in growls %}
        <div class="growlDiv">
            <b>{{ growl[0] }}</b>
            <p>{{ growl[2] }}</p>
        </div>
        {% endfor %}
    </div>
    <div id="log"></div>
  </body>
</html>
